/*
 These are the legacy css styles of Thematic 1.x style.css
*/

/* Reset browser defaults */
@import url('library/styles/reset.css');

/* Apply basic typography styles */
@import url('library/styles/typography.css');

/* Apply a basic layout */
@import url('library/layouts/2c-r-fixed.css');

/* Apply basic image styles */
@import url('library/styles/images.css');

/* Apply default theme styles and colors */
@import url('library/styles/default.css');

/* Prepare theme for plugins */
@import url('library/styles/plugins.css');

/* -------------------------------------------------------------- 
   
   Default styles for Images
   
   I've duplicated these styles here from images.css in
   order to get Thematic through the auto-checker at the
   official WordPress Themes directory.
   
   When the directory can hunt though css files linked
   through @import the styles below will no longer be
   necessary and will be removed.
   
   Cheers. --Ian Stewart
  
-------------------------------------------------------------- */   

.entry-content img {
    height:auto;
    margin: 0 0 18px 0;
    max-width:100%;
}
.alignleft,
img.alignleft {
	float: left;
    margin-right:20px;
}
.alignright,
img.alignright {
	display: block;
	float: right;
    margin-left:20px;
}
.aligncenter,
img.aligncenter {
	margin-left:auto;
	margin-right:auto;
	display: block;
	clear: both;
}
.wp-caption {
	text-align: center;
	margin-bottom:18px;
	max-width: 96%;
}
.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}
.wp-caption p.wp-caption-text {
	margin: 0;
	padding:5px;
}
.gallery img {
    margin:0;
}
.wp-smiley { /* Prevent the smileys from breaking line-height */
	max-height:12px;
	margin:0 !important;
}
