/* -------------------------------------------------------------- 
  
   Prometheus: a new default style for Thematic
   
-------------------------------------------------------------- */


/* =Global Elements
-------------------------------------------------------------- */

body, input, textarea {
    font: 15px Georgia,serif;
    line-height:21px;
}
p, ul, ol, dd, pre {
    margin-bottom:21px;
}
pre, code {
	font:14px Monaco, monospace;
	line-height:21px;
}
blockquote {
    color:#666;
    font-style:italic;
}
a {
}


/* =Header
-------------------------------------------------------------- */

#header {
    border-bottom:1px solid #ccc;
    display:none;
}
#branding {
}


/* =Menu
-------------------------------------------------------------- */

.skip-link {
    display:none;
}
#access {
    font-size:12px;
    line-height:36px;
    margin-bottom:-1px;
}
.menu {
    overflow:hidden; /* clears the inner float  */
}
.menu ul {
    border-left:1px solid #ccc;
    float:right;
    margin:0;
    list-style:none;
}
.menu ul ul {
    display:none;
}
.menu li {
    display:inline;
}
.menu a {
    background:#fafafa;
    color:#666;
    border:1px solid #ccc;
    border-left:none;
    display:block;
    float:left;
    padding:0 21px;
}
.menu .current_page_item a {
    background:#fff;
    border-bottom-color:#fff;
}
.menu a:hover,
.menu a:focus {
    color:#000;
}


/* =Content
-------------------------------------------------------------- */

#main {
    padding:63px 0 21px 0;
}
.hentry {
}
.entry-title {
    font-family:Arial,sans-serif;
    font-size:34px;
    font-weight:bold;
    line-height:34px;
    padding:0 0 7px 0;
}
.entry-meta {
    color:#666;
    font-size:13px;
    line-height:18px;
}
.entry-meta .author {
    font-style:italic;
}
.entry-meta .n {
    font-size:11px;
    font-style:normal;
    letter-spacing:0.05em;
    text-transform:uppercase;
}
.entry-meta a {
    text-decoration:none;
}
.entry-content {
    padding:21px 0 0 0;
}
.entry-content a:visited {
}
.entry-content a:hover {
}
.entry-content a:focus {
}
.entry-content a:active {
}
.entry-content h1,
.entry-content h2 {
    font-family:Arial,sans-serif;
    font-size:19px;
    font-weight:bold;
    padding:28px 0 14px 0;
}
.entry-content h3 {
    font-size:17px;
    font-style:italic;
    padding:28px 0 14px 0;
}
.entry-content h4 {
    font-family:Arial,sans-serif;
    font-weight:bold;
}
.entry-content abbr, .entry-content acronym {
  border-bottom:1px dotted #333;
  cursor: help;
}
.entry-content table {
}
.entry-utility {
    color:#666;
    font-size:13px;
    line-height:18px;
    margin:0 0 42px 0;
}
.entry-utility a {
    color:#666;
}
.page-link {
    font-size:13px;
    font-weight:bold;
    line-height:18px;
    margin:0 0 21px 0;
    padding:21px 0 0 0;
    word-spacing:0.5em;
}
.page-link a {
    border:1px solid #ccc;
    color:#666;
    font-weight:normal;
    padding:0.5em 0.75em;
}

/* =Navigation
-------------------------------------------------------------- */

.navigation {
    color:#666;
    font-size:13px;
    line-height:18px;
    margin:0px 0 21px 0;
    overflow:hidden;
}
.navigation a {
    color:#666;
}
.nav-previous {
	float: left;
	width:50%;
}
.nav-next {
	float: right;
	width:50%;
	text-align:right;
}
#nav-above,#nav-below {
	width: 100%;
}
#nav-above {
    display:none;
}

/* =Comments
-------------------------------------------------------------- */

#comments {
    padding:21px 0 0 0;
}
#comments,
#comments input,
#comments textarea {
    font-size:13px;
    line-height:18px;
}
#comments code {
    font-size:12px;
    line-height:18px;
}
#comments h3 {
    font-family:Arial,sans-serif;
    font-size:15px;
    font-weight:bold;
    line-height:21px;
    padding:0 0 18px 0;
}
#comments-list {
    padding:0 0 18px 0;
}
#comments-list ol,
#comments-list ul {
    list-style:none;
    margin:0;
}
#comments-list ol {
    border:1px solid #ccc;
    border-bottom:none;
    margin:0 0 18px 0;
}
#comments-list li {
    background:#fafafa;
    border-bottom:1px solid #ccc;
    padding:18px 1.5em 0 1.5em;
    position:relative;
}
#comments-list li.alt {
    background:#fff;
}
#comments-list li.bypostauthor {
    background:#FFFFCC;
}
#comments-list ul li {
    border:1px solid #ccc;
    margin:0 0 18px 0;
}
#comments-list li .avatar {
    position:absolute;
    top:22px;
    left:1.5em;
    width:36px;
    height:36px;
}
#comments-list .comment-author {
    font-weight:bold;
    padding:9px 0 0 46px;
}
#comments-list .comment-meta {
    color:#666;
    font-size:11px;
    padding:0 0 9px 46px;
}
#comments-list .comment-meta a {
    color:#666;
}
.comment-reply-link {
    font-size:11px;
    padding:0 0 18px 0;
    text-align:right;
}
.comment-reply-link a {
    color:#666;
}
.comment-navigation {
    font-weight:bold;
    padding:0 0 18px 0;
    margin-right:0.5em;
}
.comment-navigation a {
    border:1px solid #ccc;
    color:#666;
    font-weight:normal;
    padding:0.5em 0.75em;
}
.comment-navigation a,
.comment-navigation span {
    margin-right:0.5em;
}
#trackbacks-list .comment-content {
    position:absolute;
    left:-9000px;
}
#respond {
    background:#fff;
    padding:18px 0 0 0;
    position:relative;
}
#comments-list #respond {
    border-bottom:1px solid #ccc;
    margin:0 0 18px 0;
    padding:18px 1.5em;
}
#comments-list ul #respond {
    border:1px solid #ccc;
}
#cancel-comment-reply {
    font-size:11px;
    position:absolute;
    top:18px;
    right:1.5em;
}
#cancel-comment-reply a {
    color:#666;
}
#respond .required {
    color:red;
    font-weight:bold;
}
.form-section label {
    font-size:11px;

}
.form-section input {
    margin:0 0 18px 0;
    width:98%;
}
.form-section textarea {
    width:99%;
}
.form-submit {
    padding:18px 0 0 0;
    text-align:right;
}


/* =Asides, Sidebars & Widget-Ready Areas
-------------------------------------------------------------- */

.aside,
.aside input {
    font-size:13px;
    line-height:18px;
}
.aside p,
.aside ul,
.aside ol,
.aside dd,
.aside pre {
    margin-bottom:18px;
}
.aside pre,
.aside code {
    font-size:12px;
    line-height:18px;
}
.aside h3 {
    font-family:Arial,sans-serif;
    font-size:15px;
    font-weight:bold;
    line-height:21px;
}
.aside ul {
    list-style:none;
    margin-left:0;
}
.aside ul ul {
    list-style:disc;
    margin:0 0 21px 1.5em;
}
.aside ul ul ul {
    margin-bottom:0;
}
.aside form,
.aside table {
    margin-bottom:21px;
}

/*
    Main Asides
*/
.main-aside {
    color:#666;
}
.main-aside a {
    color:#666;
}    
.main-aside ul {
    padding:0 1.5em;
}
.main-aside h3 {
    color:#000;
}
.main-aside ul ul {
    padding:0;
}
#primary {
    border:1px solid #ccc;
    padding:18px 0 0 0;
    margin-bottom:21px;
}
/*
    Content Asides
*/
#content .aside {
    border:1px solid #ccc;
    margin:0 0 21px 0;
}
/*
    Footer Asides
*/
#footer .aside {
    display:none;
}


/* =Footer
-------------------------------------------------------------- */

#footer {
    border-top:1px solid #ccc;
    margin-top:21px;
}
#siteinfo {
    font-size:11px;
    line-height:18px;
    padding:21px 0 42px 0;
}


