/* -----------------------------------------------------------------------

   A print stylesheet based on Blueprint and Hartija.

----------------------------------------------------------------------- */

body {
    line-height:1.5;
    font-family:Georgia,serif;
    color:#000;
    background:none;
    font-size:10pt;
}
div {
    background:none;
    width:100%;
}
#wrapper, #main, #container, #content {
    background:none;
    width:100% !important;
    margin:0 !important;
    padding:0 !important;
    position:static !important;
    float:none !important; 
}
h1, h2, h3, h4, h5, h6 {
    font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    font-weight:bold;
    margin:0 0 18pt 0;
    padding:18pt 0 0 0;
}
.entry-title {
    font-size:36pt;
    margin:0;
    padding:0;
}
.entry-meta {
    margin:0 0 36pt 0;
}
.entry-content h1, .entry-content h2, .entry-content h3 {
    font-size:18pt;
}
.entry-content h4 {
    font-size:12pt;
}
.entry-content h5 {
    font-size:10pt;    
}
.entry-content h6 {
    font-size:8pt;    
}
code {
    font:.9em "Courier New", Monaco, Courier, monospace;
}
img {
    float:left;
    margin:1.5em 1.5em 1.5em 0;
}
a img {
    border:none;
}
blockquote {
    margin:1.5em;
    padding:1em;
    font-style:italic;
    font-size:.9em;
}
a:link, a:visited {
    background:transparent;
    text-decoration:none;
    color:#000;
}
.entry-content a {
    font-weight:bold;
    text-decoration:underline;
}
.entry-content a:link:after, .entry-content a:visited:after {
    content:" (" attr(href) ") ";
    font-size:90%;
}
#site-meta, #header, #access, .navigation, .page-link, .entry-utility, #comments, #trackbacks-list, #respond, .aside, #footer {
    display:none;
}