/*
LAYOUT: One-Column (Right) Fixed
DESCRIPTION: Two-column 950px fixed layout with one sidebar right of content
*/

#header {
    position:relative;
}
#branding {
    width:950px;
    margin:0 auto;
}
#access {
    position:relative;
    overflow:hidden;
}
#menu {
    width:950px;
    margin:0 auto;
}
#main {
    width:950px;
    margin:0 auto;
    overflow:hidden;
    position:relative;
}
#container {
    width:630px;
    float:left;
}
#content {
    overflow:hidden;
}
#primary {
    width:310px;
    float:right;
}
#secondary {
    clear:right;
    width:310px;
    float:right;
}
#footer {    
    clear:both;
}
#subsidiary {
    width:950px;
    margin:0 auto;
    overflow:hidden;
}
#subsidiary .aside {
    width:310px;
    float:left;
    margin:0 10px 0 0;
}
#subsidiary #third {
    margin:0;
}
#siteinfo {
    clear:both;
    width:950px;
    margin:0 auto;
}
